/sql_app/__pycache__/crud.cpython-38.pyc
/sql_app/__pycache__/database.cpython-38.pyc
/sql_app/__pycache__/demo.cpython-38.pyc
/sql_app/__pycache__/main.cpython-38.pyc
/sql_app/__pycache__/models.cpython-38.pyc
/sql_app/__pycache__/schemas.cpython-38.pyc
